{% extends "base.html" %} {% block main %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Prediction Input:</h5>
                <div>G1: <span id="g1"></span></div>
                <div>G2: <span id="g1"></span></div>
                <div>Age: <span id="age"></span></div>
                <div>Mother education: <span id="medu"></span></div>
                <div>Father education: <span id="fedu"></span></div>
                <div>Travel time: <span id="tt"></span></div>
                <div>Study Time: <span id="st"></span></div>
                <div>Failures: <span id="fail"></span></div>
                <div>Freetime: <span id="ft"></span></div>
                <div>Health Status: <span id="hs"></span></div>
                <div>Absences: <span id="abs"></span></div>
                <h5 class="pt-3">Prediction Classification:</h5>
                <div id="prediction"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/results" role="button">View DB</a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h1>Passa ou Não Passa</h1>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="form-g1">G1</label>
                    <input type="number" step="1" class="form-control" id="form-g1" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-g2">G2</label>
                    <input type="number" step="1" class="form-control" id="form-g2" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-age">Age</label>
                    <input type="number" step="1" class="form-control" id="form-age" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-medu">Mother Education</label>
                    <input type="number" step="1" class="form-control" id="form-medu" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-fedu">Father Education</label>
                    <input type="number" step="1" class="form-control" id="form-fedu" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-tt">Travel Time</label>
                    <input type="number" step="1" class="form-control" id="form-tt" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-st">Study Time</label>
                    <input type="number" step="1" class="form-control" id="form-st" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-fail">Failures</label>
                    <input type="number" step="1" class="form-control" id="form-fail" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-ft">Free Time</label>
                    <input type="number" step="1" class="form-control" id="form-ft" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-hs">Health Status</label>
                    <input type="number" step="1" class="form-control" id="form-hs" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="form-abs">Absences</label>
                    <input type="number" step="1" class="form-control" id="form-abs" placeholder="" required>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).on('submit', '#post-form', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "project_api:submit_prediction" %}',
            data: {
                g1: $('#form-g1').val(),
                g2: $('#form-g2').val(),
                age: $('#form-age').val(),
                medu: $('#form-medu').val(),
                fedu: $('#form-fedu').val(),
                tt: $('#form-tt').val(),
                st: $('#form-st').val(),
                fail: $('#form-fail').val(),
                ft: $('#form-ft').val(),
                hs: $('#form-hs').val(),
                abs: $('#form-abs').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("g1").innerHTML = json['G1']
                document.getElementById("g2").innerHTML = json['G2']
                document.getElementById("age").innerHTML = json['age']
                document.getElementById("medu").innerHTML = json['mother_education']
                document.getElementById("fedu").innerHTML = json['father_education']
                document.getElementById("tt").innerHTML = json['travel_time']
                document.getElementById("st").innerHTML = json['study_time']
                document.getElementById("fail").innerHTML = json['failures']
                document.getElementById("ft").innerHTML = json['free_time']
                document.getElementById("hs").innerHTML = json['health_status']
                document.getElementById("abs").innerHTML = json['absences']
            },
            error: function(xhr, errmsg, err) {

            }
        });
    })
</script>

{% endblock %}